body {
    font-family: "Montserrat", sans-serif;
    background: #f5f7fa;
}

.wrapper {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    justify-content: center;
    margin: 0 auto;
    background: #fff;
    box-shadow: 6px 6px 20px 0px rgba(0, 0, 0, 0.1);
}

main {
    padding: 88px;
}

.colorize {
    color: #fb6d3a;
}

aside {
    background: #1e2939;
}

.side_text {
    color: #fff;
    margin: 40px;
}
